@page
@model Winterwood_Farm.Pages.Stock.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Stock</h1>

@*<p>
    <a asp-page="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StockModel[0].StockModelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockModel[0].Fruit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockModel[0].Variety)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockModel[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StockModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StockModelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fruit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variety)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @*<a asp-page="./Edit" asp-route-id="@item.StockModelId">Edit</a> |*@
                <a asp-page="./Details" asp-route-id="@item.StockModelId">Details</a> @*|*@
                @*<a asp-page="./Delete" asp-route-id="@item.StockModelId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
