@page
@model Winterwood_Farm.Pages.Batch.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Batch</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BatchModel[0].BatchModelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchModel[0].Fruit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchModel[0].Variety)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchModel[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BatchModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BatchModelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fruit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variety)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BatchModelId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BatchModelId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BatchModelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
